<html>
<head>
<title>item_tile.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
item_tile.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.cardview.widget.CardView </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:card_view</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
    <span class="s1">android:layout_margin</span><span class="s2">=&quot;8dp&quot;</span>
    <span class="s1">card_view:cardCornerRadius</span><span class="s2">=&quot;12dp&quot;</span>
    <span class="s1">card_view:cardElevation</span><span class="s2">=&quot;6dp&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center_horizontal&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/productImage&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;100dp&quot;</span>
            <span class="s1">android:scaleType</span><span class="s2">=&quot;centerCrop&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/pngtree_marble_natural_breccia&quot;</span>
            <span class="s1">android:contentDescription</span><span class="s2">=&quot;Tile Image&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/productName&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Tile Name&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@android:color/black&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/productPrice&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;₹450&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#4CAF50&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;13sp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;4dp&quot;</span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>
<span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span></pre>
</body>
</html>